footer {
    background: $color_black;
    padding: spacing(sm);



    .footer-container{

        &__information {
            display: flex;
            justify-content: space-between;
        }

        &__home-link {
            font-size: 2rem;
        }

        &__contact-info {
            display:flex;
            flex-direction: column;
            align-items: center;

            a:not(:last-child){
                padding-bottom: spacing(xs);
            }

            &__links {

                i {
                    color: $color_white;
                    font-size: 2rem;
                    margin-right: spacing(xs);
                    transition: 0.25s ease-in-out;
                }
                
                &:hover {

                    i {
                        color: $color_primary;
                    }
                }
            }
        }

        &__social-links {
            display: flex;
            justify-content: center;

            a {
                font-size: 2rem;

                &:not(:last-child) {
                    padding-right: spacing(sm);

                }
            }
        }
    }
}
