.hero-banner {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 30px;

    h2 {
        width: 90%;
        color: $color_white;
        text-align: center;
        font-size: 3.5rem;
        z-index: 2;
        text-shadow: 2px 2px $color_black;

        @include breakpoint(minsm) {
            font-size: 5rem;
        }

        @include breakpoint(minmd) {
            font-size: 6rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.45);
    }
}

.index-banner {
    background-image: url("../../assets/images/banners/index-banner.jpg");
}

.website-banner {
    background-image: url("../../assets/images/banners/website-banner.jpg");
}

.seo-banner {
    background-image: url("../../assets/images/banners/seo-banner.jpg");
}

.sem-banner {
    background-image: url("../../assets/images/banners/sem-banner.jpg");
}

.about-banner {
    background-image: url("../../assets/images/banners/about-banner.jpg");
}
