.website-title {
    padding: spacing(md);
    text-align: center;

    h2 {
        margin-top: 0;
    }

    p{
        border-bottom: 2px solid $color_light_grey_1;
        padding-bottom: spacing(sm);
    }
}

.website-cta {
    display: flex;
    align-items: center;
    padding: spacing(md);
    margin: spacing(lg) 0;
    width: auto;

    .website-cta__image-container {
        flex:1;
        display: none;

        @include breakpoint(minxs) {
            display: block;
        }
    }

    div {
        flex: 1;
        img {
            width: 100%;
        }
    }
}

.about-title {
    padding: spacing(md);
    text-align: center;
    border-bottom: 2px solid $color_light_grey_1;

    h2 {
        margin-top: 0;
    }

    .contact-button {
        margin: spacing(md) 0;
    }
}
