$gutter: spacing(sm);

.wrapper {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

////// Row Styling //////
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-right: -$gutter;

	&.left-row {
		justify-content: flex-start;
	}

	&.right-row {
		justify-content: flex-end;
	}

	&.center-row {
		justify-content: center;
	}

	&.spaced-row {
		justify-content: space-between;
	}

	&.vertical-center {
		align-items: center;
	}

	&--half-space {
		margin-left: -$gutter / 2;
		margin-right: -$gutter / 2;
	}
}

////// Col Styling //////
.col,
.col-xxs-1,
.col-xxs-2,
.col-xxs-3,
.col-xxs-4,
.col-xxs-5,
.col-xxs-6,
.col-xxs-7,
.col-xxs-8,
.col-xxs-9,
.col-xxs-10,
.col-xxs-11,
.col-xxs-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	width: 100%;
	min-height: 1px;
	// padding-right: $gutter;
	// padding-left: $gutter;

	.row--half-space & {
		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
	}
}

.col {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	max-width: 100%;
}

.no-gutters {
	margin-left: 0;
	margin-right: 0;

	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.col-lg-offset-0 {
	margin-left: 0;
}

.col-lg-order-0 {
	order: 0;
}

@for $i from 1 through 12 {

	.col-lg-#{$i} {
		flex: 0 0 $i * 8.333333%;
		max-width: $i * 8.333333%;
	}

	.col-lg-offset-#{$i} {
		margin-left: $i * 8.333333%;
	}

	.col-lg-order-#{$i} {
		order: $i;
	}
}

@include breakpoint(md) {

	.col-md-offset-0 {
		margin-left: 0;
	}

	.col-md-order-0 {
		order: 0;
	}

	@for $i from 1 through 12 {

		.col-md-#{$i} {
			flex: 0 0 $i * 8.333333%;
			max-width: $i * 8.333333%;
		}

		.col-md-offset-#{$i} {
			margin-left: $i * 8.333333%;
		}

		.col-md-order-#{$i} {
			order: $i;
		}
	}
}

@include breakpoint(sm) {

	.col-sm-offset-0 {
		margin-left: 0;
	}

	.col-sm-order-0 {
		order: 0;
	}

	@for $i from 1 through 12 {

		.col-sm-#{$i} {
			flex: 0 0 $i * 8.333333%;
			max-width: $i * 8.333333%;
		}

		.col-sm-offset-#{$i} {
			margin-left: $i * 8.333333%;
		}

		.col-sm-order-#{$i} {
			order: $i;
		}
	}
}

@include breakpoint(xs) {

	.col-xs-offset-0 {
		margin-left: 0;
	}

	.col-xs-order-0 {
		order: 0;
	}

	@for $i from 1 through 12 {

		.col-xs-#{$i} {
			flex: 0 0 $i * 8.333333%;
			max-width: $i * 8.333333%;
		}

		.col-xs-offset-#{$i} {
			margin-left: $i * 8.333333%;
		}

		.col-xs-order-#{$i} {
			order: $i;
		}
	}
}

@include breakpoint(xxs) {

	.col-xxs-offset-0 {
		margin-left: 0;
	}

	.col-xxs-order-0 {
		order: 0;
	}

	@for $i from 1 through 12 {

		.col-xxs-#{$i} {
			flex: 0 0 $i * 8.333333%;
			max-width: $i * 8.333333%;
		}

		.col-xxs-offset-#{$i} {
			margin-left: $i * 8.333333%;
		}

		.col-xxs-order-#{$i} {
			order: $i;
		}
	}
}
